<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">


    <!-- 부트스트랩 코드 시작 https://getbootstrap.com/docs/5.0/components/buttons/-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <!-- 부트스트랩 코드 종료-->

    <!-- 제이커리 기본 코드 시작-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- 제이커리 기본 코드 종료-->
    <title>Welcome!!!</title>

    <!-- 스크립트와 CSS 코드 구역 ===================================================================-->

    <script>

        //여기서부터 추가기능==========================================================================
        function check() {
            let id = $('#identifier').val()
            let pw = $('#password').val()
            let nk = $('#nickname').val()
            let qu = $('#question').val()
            let an = $('#answer').val()

            if (id && pw && nk && qu && an) {
                save_submit()
            } else {
                alert('모든 정보를 입력해주세요')
            }
        }
        //중복확인 기능==========================================================================
        function overlap() {
            let identifier = $('#identifier').val()
            $.ajax({
                type: 'POST',
                url: '/login/submit/overlap',
                data: {identifier_give: identifier},
                success: function (response) {
                    const target = document.getElementById('join_btn');
                    let result = response['result_give']
                    if (result == 1) {
                        alert('사용가능!')
                        target.disabled = false;
                    } else {
                        alert('사용할 수 없음!')
                        target.disabled = true;
                    }
                }
            })
        }

        $(document).ready(function () {
            $('#identifier').change(function () {
                    const target = document.getElementById('join_btn');
                    target.disabled = true;
                }
            )
        })

        //추가기능 종료===========================================================================


        function save_submit() {
            let identifier = $('#identifier').val()
            let password = $('#password').val()
            let nickname = $('#nickname').val()
            let question = $('#question').val()
            let answer = $('#answer').val()
            $.ajax({
                type: 'POST',
                url: '/login/submit/success',
                data: {
                    identifier_give: identifier,
                    password_give: password,
                    nickname_give: nickname,
                    question_give: question,
                    answer_give: answer
                },
                success: function (response) {
                    alert(response['msg'])
                    location.href = "/"//로그인이 완료되었으니 이동
                }
            })

        }

        function cancel() {
            location.href = "/login"
        }


    </script>

    <style>
        .title {
            background-color: black;
            width: 100%;
            height: 400px;
            color: white;

            font-size: 50px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .submit {

            background-color: white;
            max-width: 500px;
            width: 95%;
            margin: 5px auto auto auto;

            box-shadow: 0px 0px 3px 0px gray;
            padding: 20px;
            font-size: 20px;
        }

        body {
            background-color: black;
        }

        .lefttext {
            width: 150px;
            height: 60px;

        }

        .down-btn {

            position: relative;
            left: 35%;
        }


    </style>


</head>
<!--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인-->
<!--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인--바디시작라인-->
<body>

<!--타이틀 시작-->
<div class="title">
    <h1 class="title">Welcome!</h1>
</div>
<!--타이틀 종료-->


<!--가입란 시작-->
<div class="submit">
    <!--아이디입력란 시작(중복확인 버튼 포함)-->
    <form class="row g-3">
        <div class="lefttext">
            계정
        </div>
        <div class="col-auto">
            <input id="identifier" type="text" class="form-control" placeholder="Identifier">
        </div>
        <div class="col-auto"><!--중복확인 버튼----중복확인 버튼----중복확인 버튼----중복확인 버튼----중복확인 버튼-->
            <button onclick="overlap()" id="check_btn" type="button" class="btn btn-primary mb-3">중복확인</button>
        </div>
    </form>
    <!--아이디입력란 종료-->

    <!--비번입력란 시작-->
    <form class="row g-3">
        <div class="lefttext">
            비밀번호
        </div>
        <div class="col-auto">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
    </form>
    <!--비번입력란 종료-->
    <!--닉네임입력란 시작-->
    <form class="row g-3">
        <div class="lefttext">
            닉네임
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" id="nickname" placeholder="Nickname">
        </div>

    </form>
    <!--닉네임입력란 종료-->
    <!--질문사항 시작-->
    <form class="row g-3">
        <div class="lefttext" data-bs-toggle="tooltip" data-bs-html="true" title="이 부분은 아이디와 비밀번호를 잊어버렸을 때 필요합니다.">질문사항
            [?]
        </div>
        <div class="col-auto"> <!--이 줄 위 아래로, data-bs-toggle 부터 마우스를 올리면 툴팁이 뜨는 명령어임-->
            <input type="text" class="form-control" id="question" placeholder="Question" data-bs-toggle="tooltip"
                   data-bs-html="true" title="이 부분은 아이디와 비밀번호를 잊어버렸을 때 필요합니다.">

        </div>
    </form>
    <!--질문사항 종료-->
    <!--질문답변 시작-->
    <form class="row g-3">
        <div class="lefttext" data-bs-toggle="tooltip" data-bs-html="true" title="이 부분은 아이디와 비밀번호를 잊어버렸을 때 필요합니다.">
            질문답변
        </div>
        <div class="col-auto"> <!--이 줄 위 아래로, data-bs-toggle 부터 마우스를 올리면 툴팁이 뜨는 명령어임-->
            <input type="text" class="form-control" id="answer" placeholder="Answer" data-bs-toggle="tooltip"
                   data-bs-html="true" title="이 부분은 아이디와 비밀번호를 잊어버렸을 때 필요합니다.">
        </div>
    </form>
    <!--질문답변 종료-->

    <!--최하단 버튼 시작-->
    <div class="down-btn">
        <button onclick="check()" id="join_btn" type="button" class="btn btn-primary mb-3" disabled>가입</button>
        <button onclick="cancel()" type="button" class="btn btn-primary mb-3">취소</button>
    </div>
    <!--최하단 버튼 종료-->

</div>
<!--가입란 종료-->


</body>
</html>